xsd10.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
      datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
      xmlns:xs="http://www.w3.org/2001/XMLSchema"
      xmlns:doc="http://www.jenitennison.com/doc">

<doc:p>
  Original RELAX NG schema for XML Schema by <doc:link
  href="mailto:mail@jenitennison.com">Jeni Tennison</doc:link>.
  Based on
  <doc:link
  href="http://www.w3.org/TR/2001/REC-xmlschema-1-20010502/">XML
  Schema Part I: Structures Recommendation</doc:link> and <doc:link
  href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/">XML
  Schema Part II: Datatypes</doc:link>.

  Additional modifications post 2004-10-12 by <doc:link
  href="http://www.pabigot.com/">Peter A. Bigot</doc:link> are
  recorded at the <doc:link
  href="https://github.com/pabigot/rng4xsd">rng4xsd project
  page</doc:link>.

  Pattern names correspond to definitions in
  http://www.w3.org/2001/XMLSchema.xsd and should be in the same
  order.  For the purpose and semantics of each pattern, refer to the
  XSD schema and documentation.  Documentation in this schema is
  limited to notes specific to the RELAX NG implementation.
</doc:p>

<define name="openAttrs">
  <doc:p>
    We want to emulate: <xs:anyAttribute namespace="##other" process="lax"/>

    The "##other" means we need to exclude the XSD namespace.

    The rules in 3.10.4 for wildcard validation say that, in that
    case, we also need to exclude absent namespaces.

    The tricky bit is xml:lang which should not be excluded, but which
    is also explicitly enabled with type="language" in the SfS for
    xs:schema and xs:documentation.  Those elements also normally
    reference openAttrs, which results in an attribute conflict
    because xml:lang is accepted from two paths.  In those cases, do
    not reference openAttrs, and instead replicate the wildcard below
    also excluding xml:lang.
  </doc:p>
  <zeroOrMore>
    <attribute>
      <anyName>
        <except>
          <nsName ns=""/>
          <nsName ns="http://www.w3.org/2001/XMLSchema"/>
        </except>
      </anyName>
      <text/>
    </attribute>
  </zeroOrMore>
</define>

<define name="annotated">
  <ref name="openAttrs"/>
  <optional>
    <attribute name="id">
      <data type="ID"/>
    </attribute>
  </optional>
  <optional>
    <ref name="annotation"/>
  </optional>
</define>

<define name="schemaTop">
  <choice>
    <ref name="redefinable"/>
    <ref name="topLevelElement"/>
    <ref name="topLevelAttribute"/>
    <ref name="notation"/>
  </choice>
</define>

<define name="redefinable">
  <choice>
    <ref name="topLevelSimpleType"/>
    <ref name="topLevelComplexType"/>
    <ref name="namedGroup"/>
    <ref name="namedAttributeGroup"/>
  </choice>
</define>

<define name="formChoice">
  <choice>
    <value>qualified</value>
    <value>unqualified</value>
  </choice>
</define>

<define name="reducedDerivationControl">
  <list>
    <zeroOrMore>
      <choice>
        <value>extension</value>
        <value>restriction</value>
      </choice>
    </zeroOrMore>
  </list>
</define>

<define name="typeDerivationControl">
  <list>
    <zeroOrMore>
      <choice>
        <value>extension</value>
        <value>restriction</value>
        <value>list</value>
        <value>union</value>
      </choice>
    </zeroOrMore>
  </list>
</define>

<define name="derivationSet">
  <choice>
    <value>#all</value>
    <ref name="reducedDerivationControl"/>
  </choice>
</define>

<define name="fullDerivationSet">
  <choice>
    <value>#all</value>
    <ref name="typeDerivationControl"/>
  </choice>
</define>

<start>
  <element name="xs:schema"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-schema">
    <zeroOrMore>
      <choice>
        <attribute name="version">
          <data type="token"/>
        </attribute>
        <attribute name="finalDefault">
          <ref name="fullDerivationSet"/>
        </attribute>
        <attribute name="blockDefault">
          <ref name="blockSet"/>
        </attribute>
        <attribute name="attributeFormDefault">
          <ref name="formChoice"/>
        </attribute>
        <attribute name="elementFormDefault">
          <ref name="formChoice"/>
        </attribute>
        <attribute name="id">
          <data type="ID"/>
        </attribute>
        <attribute name="xml:lang">
          <data type="language"/>
        </attribute>
        <attribute> <!-- simulate openAttrs but excluding xml:lang -->
          <anyName>
            <except>
              <nsName ns=""/>
              <nsName ns="http://www.w3.org/2001/XMLSchema"/>
              <name>xml:lang</name>
            </except>
          </anyName>
          <text/>
        </attribute>
      </choice>
    </zeroOrMore>
    <interleave>
      <zeroOrMore>
        <choice>
          <ref name="include"/>
          <ref name="redefine"/>
          <ref name="annotation"/>
        </choice>
      </zeroOrMore>
      <choice>
        <doc:p>
          If a targetNamespace attribute is specified on the schema
          element, then the namespace attribute on the import elements
          that it contains are optional.  If a targetNamespace
          attribute is not specified on the schema element, then the
          import elements that it contains must specify a namespace.
        </doc:p>
        <group>
          <attribute name="targetNamespace">
            <data type="anyURI"/>
          </attribute>
          <zeroOrMore>
            <ref name="importOptionalNamespace"/>
          </zeroOrMore>
        </group>
        <zeroOrMore>
          <ref name="importRequiredNamespace"/>
        </zeroOrMore>
      </choice>
    </interleave>
    <zeroOrMore>
      <choice>
        <ref name="schemaTop"/>
        <ref name="annotation"/>
      </choice>
    </zeroOrMore>
  </element>
</start>

<define name="allNNI">
  <choice>
    <data type="nonNegativeInteger"/>
    <value type="token">unbounded</value>
  </choice>
</define>

<define name="occurs">
  <zeroOrMore>
    <choice>
      <attribute name="minOccurs">
        <data type="nonNegativeInteger"/>
      </attribute>
      <attribute name="maxOccurs">
        <ref name="allNNI"/>
      </attribute>
    </choice>
  </zeroOrMore>
</define>

<define name="typeDefParticle">
  <choice>
    <ref name="groupRef"/>
    <ref name="all"/>
    <ref name="choice"/>
    <ref name="sequence"/>
  </choice>
</define>

<define name="nestedParticle">
  <choice>
    <ref name="localElement"/>
    <ref name="groupRef"/>
    <ref name="choice"/>
    <ref name="sequence"/>
    <ref name="any"/>
  </choice>
</define>

<define name="fixedOrDefault">
  <choice>
    <empty/>
    <attribute name="fixed"/>
    <attribute name="default"/>
  </choice>
</define>

<define name="attributeType">
  <choice>
    <empty/>
    <attribute name="type">
      <data type="QName"/>
    </attribute>
    <ref name="localSimpleType"/>
  </choice>
</define>

<define name="localAttribute">
  <element name="xs:attribute"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-attribute">
    <ref name="annotated"/>
    <optional>
      <attribute name="use">
        <choice>
          <value type="token">optional</value>
          <value type="token">prohibited</value>
          <value type="token">required</value>
        </choice>
      </attribute>
    </optional>
    <ref name="fixedOrDefault"/>
    <choice>
      <attribute name="ref">
        <data type="QName"/>
      </attribute>
      <group>
        <attribute name="name">
          <data type="NCName"/>
        </attribute>
        <optional>
          <attribute name="form">
            <ref name="formChoice"/>
          </attribute>
        </optional>
        <ref name="attributeType"/>
      </group>
    </choice>
  </element>
</define>

<define name="topLevelAttribute">
  <element name="xs:attribute"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-attribute">
    <ref name="annotated"/>
    <attribute name="name">
      <data type="NCName"/>
    </attribute>
    <ref name="fixedOrDefault"/>
    <ref name="attributeType"/>
  </element>
</define>

<define name="attrDecls">
  <zeroOrMore>
    <choice>
      <ref name="localAttribute"/>
      <ref name="attributeGroupRef"/>
    </choice>
  </zeroOrMore>
  <optional>
    <ref name="anyAttribute"/>
  </optional>
</define>

<define name="anyAttribute">
  <element name="xs:anyAttribute"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-anyAttribute">
    <ref name="wildcard"/>
  </element>
</define>

<define name="complexType">
  <ref name="annotated"/>
  <optional>
    <attribute name="mixed">
      <data type="boolean"/>
    </attribute>
  </optional>
  <choice>
    <ref name="simpleContent"/>
    <ref name="complexContent"/>
    <group>
      <optional>
        <ref name="typeDefParticle"/>
      </optional>
      <ref name="attrDecls"/>
    </group>
  </choice>
</define>

<define name="topLevelComplexType">
  <element name="xs:complexType"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-complexType">
    <ref name="complexType"/>
    <attribute name="name">
      <data type="NCName"/>
    </attribute>
    <zeroOrMore>
      <choice>
        <attribute name="abstract">
          <data type="boolean"/>
        </attribute>
        <attribute name="block">
          <ref name="derivationSet"/>
        </attribute>
        <attribute name="final">
          <ref name="derivationSet"/>
        </attribute>
      </choice>
    </zeroOrMore>
  </element>
</define>

<define name="localComplexType">
  <element name="xs:complexType"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-complexType">
    <ref name="complexType"/>
  </element>
</define>

<define name="complexRestriction">
  <element name="xs:restriction"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-complexContent::restriction">
    <ref name="annotated"/>
    <attribute name="base">
      <data type="QName"/>
    </attribute>
    <optional>
      <ref name="typeDefParticle"/>
    </optional>
    <ref name="attrDecls"/>
  </element>
</define>

<define name="extensionType">
  <ref name="annotated"/>
  <attribute name="base">
    <data type="QName"/>
  </attribute>
</define>

<define name="complexExtension">
  <element name="xs:extension"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-complexContent::extension">
    <ref name="extensionType"/>
    <optional>
      <ref name="typeDefParticle"/>
    </optional>
    <ref name="attrDecls"/>
  </element>
</define>

<define name="complexContent">
  <element name="xs:complexContent"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-complexContent">
    <ref name="annotated"/>
    <optional>
      <attribute name="mixed">
        <data type="boolean"/>
      </attribute>
    </optional>
    <choice>
      <ref name="complexRestriction"/>
      <ref name="complexExtension"/>
    </choice>
  </element>
</define>

<define name="simpleRestriction">
  <element name="xs:restriction"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-simpleContent::restriction">
    <ref name="annotated"/>
    <ref name="simpleRestrictionModel"/>
    <ref name="attrDecls"/>
  </element>
</define>

<define name="simpleContentRestriction">
  <element name="xs:restriction"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-simpleContent::restriction">
    <ref name="annotated"/>
    <group>
      <attribute name="base">
        <data type="QName"/>
      </attribute>
      <optional>
        <ref name="localSimpleType"/>
      </optional>
      <ref name="simpleRestrictionFacets"/>
    </group>
    <ref name="attrDecls"/>
  </element>
</define>

<define name="simpleContentExtension">
  <element name="xs:extension"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-simpleContent::extension">
    <ref name="extensionType"/>
    <ref name="attrDecls"/>
  </element>
</define>

<define name="simpleContent">
  <element name="xs:simpleContent"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-simpleContent">
    <ref name="annotated"/>
    <choice>
      <ref name="simpleContentRestriction"/>
      <ref name="simpleContentExtension"/>
    </choice>
  </element>
</define>

<define name="blockSet">
  <choice>
    <value type="token">#all</value>
    <list>
      <zeroOrMore>
        <choice>
          <value>extension</value>
          <value>restriction</value>
          <value>substitution</value>
        </choice>
      </zeroOrMore>
    </list>
  </choice>
</define>

<define name="element">
  <ref name="annotated"/>
  <ref name="fixedOrDefault"/>
  <zeroOrMore>
    <choice>
      <attribute name="nillable">
        <data type="boolean"/>
      </attribute>
      <attribute name="block">
        <ref name="blockSet"/>
      </attribute>
    </choice>
  </zeroOrMore>
  <choice>
    <empty/>
    <attribute name="type">
      <data type="QName"/>
    </attribute>
    <ref name="localSimpleType"/>
    <ref name="localComplexType"/>
  </choice>
  <zeroOrMore>
    <ref name="identityConstraint"/>
  </zeroOrMore>
</define>

<define name="topLevelElement">
  <element name="xs:element"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-element">
    <ref name="element"/>
    <attribute name="name">
      <data type="NCName"/>
    </attribute>
    <zeroOrMore>
      <choice>
        <attribute name="substitutionGroup">
          <data type="QName"/>
        </attribute>
        <attribute name="abstract">
          <data type="boolean"/>
        </attribute>
        <attribute name="final">
          <ref name="derivationSet"/>
        </attribute>
      </choice>
    </zeroOrMore>
  </element>
</define>

<define name="localElement">
  <element name="xs:element"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-element">
    <ref name="occurs"/>
    <choice>
      <group>
        <attribute name="ref">
          <data type="QName"/>
        </attribute>
        <optional>
          <ref name="annotation"/>
        </optional>
        <ref name="fixedOrDefault"/>
      </group>
      <group>
        <ref name="element"/>
        <attribute name="name">
          <data type="NCName"/>
        </attribute>
        <optional>
          <attribute name="form">
            <ref name="formChoice"/>
          </attribute>
        </optional>
      </group>
    </choice>
  </element>
</define>

<define name="namedGroup">
  <element name="xs:group"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-group">
    <ref name="annotated"/>
    <attribute name="name">
      <data type="NCName"/>
    </attribute>
    <choice>
      <element name="xs:all">
        <ref name="allModel"/>
      </element>
      <element name="xs:choice">
        <ref name="simpleExplicitGroup"/>
      </element>
      <element name="xs:sequence">
        <ref name="simpleExplicitGroup"/>
      </element>
    </choice>
  </element>
</define>

<define name="groupRef">
  <element name="xs:group"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-group">
    <ref name="annotated"/>
    <ref name="occurs"/>
    <attribute name="ref">
      <data type="QName"/>
    </attribute>
  </element>
</define>

<define name="explicitGroup">
  <ref name="annotated"/>
  <ref name="occurs"/>
  <zeroOrMore>
    <ref name="nestedParticle"/>
  </zeroOrMore>
</define>

<define name="simpleExplicitGroup">
  <ref name="annotated"/>
  <zeroOrMore>
    <ref name="nestedParticle"/>
  </zeroOrMore>
</define>

<define name="allModel">
  <ref name="annotated"/>
  <zeroOrMore>
    <element name="xs:element">
      <zeroOrMore>
        <choice>
          <attribute name="minOccurs">
            <choice>
              <value type="nonNegativeInteger">0</value>
              <value type="nonNegativeInteger">1</value>
            </choice>
          </attribute>
          <attribute name="maxOccurs">
            <choice>
              <value type="nonNegativeInteger">0</value>
              <value type="nonNegativeInteger">1</value>
            </choice>
          </attribute>
        </choice>
      </zeroOrMore>
      <choice>
        <group>
          <attribute name="ref">
            <data type="QName"/>
          </attribute>
          <optional>
            <ref name="annotation"/>
          </optional>
          <ref name="fixedOrDefault"/>
        </group>
        <group>
          <ref name="element"/>
          <attribute name="name">
            <data type="NCName"/>
          </attribute>
          <optional>
            <attribute name="form">
              <ref name="formChoice"/>
            </attribute>
          </optional>
        </group>
      </choice>
    </element>
  </zeroOrMore>
</define>

<define name="all">
  <element name="xs:all"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-all">
    <ref name="allModel"/>
    <zeroOrMore>
      <choice>
        <attribute name="minOccurs">
          <choice>
            <value type="nonNegativeInteger">0</value>
            <value type="nonNegativeInteger">1</value>
          </choice>
        </attribute>
        <attribute name="maxOccurs">
          <value type="nonNegativeInteger">1</value>
        </attribute>
      </choice>
    </zeroOrMore>
  </element>
</define>

<define name="choice">
  <element name="xs:choice"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-choice">
    <ref name="explicitGroup"/>
  </element>
</define>

<define name="sequence">
  <element name="xs:sequence"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-sequence">
    <ref name="explicitGroup"/>
  </element>
</define>

<define name="anyAttrGroup">
  <zeroOrMore>
    <choice>
      <attribute name="namespace">
        <choice>
          <value type="token">##any</value>
          <value type="token">##other</value>
          <list>
            <zeroOrMore>
              <choice>
                <data type="anyURI"/>
                <value type="token">##targetNamespace</value>
                <value type="token">##local</value>
              </choice>
            </zeroOrMore>
          </list>
        </choice>
      </attribute>
      <attribute name="processContents">
        <choice>
          <value type="NMTOKEN">lax</value>
          <value type="NMTOKEN">skip</value>
          <value type="NMTOKEN">strict</value>
        </choice>
      </attribute>
    </choice>
  </zeroOrMore>
</define>

<define name="wildcard">
  <ref name="annotated"/>
  <ref name="anyAttrGroup"/>
</define>

<define name="any">
  <element name="xs:any"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-any">
    <ref name="wildcard"/>
    <ref name="occurs"/>
  </element>
</define>

<define name="namedAttributeGroup">
  <element name="xs:attributeGroup"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-attributeGroup">
    <ref name="annotated"/>
    <attribute name="name">
      <data type="NCName"/>
    </attribute>
    <ref name="attrDecls"/>
  </element>
</define>

<define name="attributeGroupRef">
  <element name="xs:attributeGroup"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-attributeGroup">
    <ref name="annotated"/>
    <attribute name="ref">
      <data type="QName"/>
    </attribute>
  </element>
</define>

<define name="include">
  <element name="xs:include"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-include">
    <ref name="annotated"/>
    <attribute name="schemaLocation">
      <data type="anyURI"/>
    </attribute>
  </element>
</define>

<define name="redefine">
  <element name="xs:redefine"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-redefine">
    <ref name="openAttrs"/>
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <attribute name="schemaLocation">
      <data type="anyURI"/>
    </attribute>
    <zeroOrMore>
      <choice>
        <ref name="annotation"/>
        <ref name="redefinable"/>
      </choice>
    </zeroOrMore>
  </element>
</define>

<define name="import">
  <ref name="annotated"/>
  <optional>
    <attribute name="schemaLocation">
      <data type="anyURI"/>
    </attribute>
  </optional>
</define>

<define name="importRequiredNamespace">
  <element name="xs:import"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-import">
    <ref name="import"/>
    <attribute name="namespace">
      <data type="anyURI"/>
    </attribute>
  </element>
</define>

<define name="importOptionalNamespace">
  <element name="xs:import"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-import">
    <ref name="import"/>
    <optional>
      <attribute name="namespace">
        <data type="anyURI"/>
      </attribute>
    </optional>
  </element>
</define>

<define name="selector">
  <element name="xs:selector"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-selector">
    <ref name="annotated"/>
    <attribute name="xpath">
      <data type="token">
        <param name="pattern">(\.//)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.)(/(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*(\|(\.//)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.)(/(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*)*</param>
      </data>
    </attribute>
  </element>
</define>

<define name="field">
  <element name="xs:field"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-field">
    <ref name="annotated"/>
    <attribute name="xpath">
      <data type="token">
        <param name="pattern">(\.//)?((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)/)*((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*))))(\|(\.//)?((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)/)*((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*)))))*</param>
      </data>
    </attribute>
  </element>
</define>

<define name="keybase">
  <ref name="annotated"/>
  <attribute name="name">
    <data type="NCName"/>
  </attribute>
  <ref name="selector"/>
  <oneOrMore>
    <ref name="field"/>
  </oneOrMore>
</define>

<define name="identityConstraint">
  <choice>
    <ref name="unique"/>
    <ref name="key"/>
    <ref name="keyref"/>
  </choice>
</define>

<define name="unique">
  <element name="xs:unique"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-unique">
    <ref name="keybase"/>
  </element>
</define>

<define name="key">
  <element name="xs:key"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-key">
    <ref name="keybase"/>
  </element>
</define>

<define name="keyref">
  <element name="xs:keyref"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-keyref">
    <ref name="keybase"/>
    <attribute name="refer">
      <data type="QName"/>
    </attribute>
  </element>
</define>

<define name="notation">
  <element name="xs:notation"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-notation">
    <ref name="annotated"/>
    <attribute name="name">
      <data type="NCName"/>
    </attribute>
    <attribute name="public">
      <data type="token"/>
    </attribute>
    <optional>
      <attribute name="system">
        <data type="anyURI"/>
      </attribute>
    </optional>
  </element>
</define>

<define name="anyContent">
  <mixed>
    <zeroOrMore>
      <element>
        <anyName/>
        <zeroOrMore>
          <attribute>
            <anyName/>
          </attribute>
        </zeroOrMore>
        <ref name="anyContent"/>
        <empty/>
      </element>
    </zeroOrMore>
  </mixed>
</define>

<define name="appinfo">
  <element name="xs:appinfo"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-appinfo">
    <ref name="openAttrs"/>
    <optional>
      <attribute name="source">
        <data type="anyURI"/>
      </attribute>
    </optional>
    <ref name="anyContent"/>
  </element>
</define>

<define name="documentation">
  <element name="xs:documentation"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-documentation">
    <zeroOrMore>
      <choice>
        <attribute name="source">
          <data type="anyURI"/>
        </attribute>
        <attribute name="xml:lang">
          <data type="language"/>
        </attribute>
        <attribute> <!-- simulate openAttrs but excluding xml:lang -->
          <anyName>
            <except>
              <nsName ns=""/>
              <nsName ns="http://www.w3.org/2001/XMLSchema"/>
              <name>xml:lang</name>
          </except>
          </anyName>
        </attribute>
      </choice>
    </zeroOrMore>
    <ref name="anyContent"/>
  </element>
</define>

<define name="annotation">
  <element name="xs:annotation"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-annotation">
    <ref name="openAttrs"/>
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="documentation"/>
        <ref name="appinfo"/>
      </choice>
    </zeroOrMore>
  </element>
</define>

<define name="simpleDerivation">
  <choice>
    <ref name="simpleRestriction"/>
    <ref name="list"/>
    <ref name="union"/>
  </choice>
</define>

<define name="simpleDerivationSet">
  <choice>
    <value type="token">#all</value>
    <list>
      <zeroOrMore>
        <choice>
          <value>list</value>
          <value>union</value>
          <value>restriction</value>
        </choice>
      </zeroOrMore>
    </list>
  </choice>
</define>

<define name="simpleType">
  <ref name="annotated"/>
  <ref name="simpleDerivation"/>
</define>

<define name="topLevelSimpleType">
  <element name="xs:simpleType"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-simpleType">
    <ref name="simpleType"/>
    <attribute name="name">
      <data type="NCName"/>
    </attribute>
    <optional>
      <attribute name="final">
        <ref name="simpleDerivationSet"/>
      </attribute>
    </optional>
  </element>
</define>

<define name="localSimpleType">
  <element name="xs:simpleType"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-simpleType">
    <ref name="simpleType"/>
  </element>
</define>

<define name="rangeFacets">
  <interleave>
    <optional>
      <choice>
        <ref name="minExclusive"/>
        <ref name="minInclusive"/>
      </choice>
    </optional>
    <optional>
      <choice>
        <ref name="maxExclusive"/>
        <ref name="maxInclusive"/>
      </choice>
    </optional>
  </interleave>
</define>

<define name="digitFacets">
  <optional>
    <ref name="totalDigits"/>
  </optional>
  <optional>
    <ref name="fractionDigits"/>
  </optional>
</define>

<define name="lengthFacets">
  <choice>
    <ref name="length"/>
    <interleave>
      <optional>
        <ref name="minLength"/>
      </optional>
      <optional>
        <ref name="maxLength"/>
      </optional>
    </interleave>
  </choice>
</define>

<define name="commonFacets">
  <zeroOrMore>
    <ref name="enumeration"/>
  </zeroOrMore>
  <optional>
    <ref name="whiteSpaceCollapse"/>
  </optional>
  <zeroOrMore>
    <ref name="pattern"/>
  </zeroOrMore>
</define>

<define name="simpleRestrictionFacets">
  <interleave>
    <ref name="rangeFacets"/>
    <ref name="digitFacets"/>
    <ref name="lengthFacets"/>
    <ref name="commonFacets"/>
  </interleave>
</define>

<define name="simpleRestrictionModel">
  <choice>
    <group>
      <attribute name="base">
        <value type="QName">xs:anySimpleType</value>
      </attribute>
      <interleave>
        <ref name="rangeFacets"/>
        <ref name="digitFacets"/>
        <ref name="lengthFacets"/>
        <optional>
          <ref name="whiteSpace"/>
        </optional>
        <zeroOrMore>
          <ref name="enumeration"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="pattern"/>
        </zeroOrMore>
      </interleave>
    </group>
    <group>
      <attribute name="base">
        <value type="QName">xs:string</value>
      </attribute>
      <interleave>
        <ref name="lengthFacets"/>
        <optional>
          <ref name="whiteSpace"/>
        </optional>
        <zeroOrMore>
          <ref name="enumeration"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="pattern"/>
        </zeroOrMore>
      </interleave>
    </group>
    <group>
      <attribute name="base">
        <choice>
          <value type="QName">xs:normalizedString</value>
        </choice>
      </attribute>
      <interleave>
        <ref name="lengthFacets"/>
        <optional>
          <ref name="whiteSpaceReplaceOrCollapse"/>
        </optional>
        <zeroOrMore>
          <ref name="enumeration"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="pattern"/>
        </zeroOrMore>
      </interleave>
    </group>
    <group>
      <attribute name="base">
        <choice>
          <value type="QName">xs:token</value>
          <value type="QName">xs:language</value>
          <value type="QName">xs:Name</value>
          <value type="QName">xs:NCName</value>
          <value type="QName">xs:ID</value>
          <value type="QName">xs:IDREF</value>
          <value type="QName">xs:IDREFS</value>
          <value type="QName">xs:NMTOKEN</value>
          <value type="QName">xs:NMTOKENS</value>
          <value type="QName">xs:ENTITY</value>
          <value type="QName">xs:ENTITIES</value>
          <value type="QName">xs:hexBinary</value>
          <value type="QName">xs:base64Binary</value>
          <value type="QName">xs:anyURI</value>
          <value type="QName">xs:QName</value>
          <value type="QName">xs:NOTATION</value>
        </choice>
      </attribute>
      <interleave>
        <ref name="lengthFacets"/>
        <ref name="commonFacets"/>
      </interleave>
    </group>
    <group>
      <attribute name="base">
        <value type="QName">xs:boolean</value>
      </attribute>
      <interleave>
        <optional>
          <ref name="whiteSpaceCollapse"/>
        </optional>
        <zeroOrMore>
          <ref name="pattern"/>
        </zeroOrMore>
      </interleave>
    </group>
    <group>
      <attribute name="base">
        <choice>
          <value type="QName">xs:decimal</value>
          <value type="QName">xs:integer</value>
          <value type="QName">xs:nonPositiveInteger</value>
          <value type="QName">xs:nonNegativeInteger</value>
          <value type="QName">xs:positiveInteger</value>
          <value type="QName">xs:negativeInteger</value>
          <value type="QName">xs:unsignedLong</value>
          <value type="QName">xs:unsignedInt</value>
          <value type="QName">xs:unsignedShort</value>
          <value type="QName">xs:unsignedByte</value>
          <value type="QName">xs:long</value>
          <value type="QName">xs:int</value>
          <value type="QName">xs:short</value>
          <value type="QName">xs:byte</value>
        </choice>
      </attribute>
      <interleave>
        <ref name="digitFacets"/>
        <ref name="rangeFacets"/>
        <ref name="commonFacets"/>
      </interleave>
    </group>
    <group>
      <attribute name="base">
        <choice>
          <value type="QName">xs:float</value>
          <value type="QName">xs:double</value>
          <value type="QName">xs:duration</value>
          <value type="QName">xs:dateTime</value>
          <value type="QName">xs:time</value>
          <value type="QName">xs:date</value>
          <value type="QName">xs:gYearMonth</value>
          <value type="QName">xs:gYear</value>
          <value type="QName">xs:gMonthDay</value>
          <value type="QName">xs:gMonth</value>
          <value type="QName">xs:gDay</value>
        </choice>
      </attribute>
      <interleave>
        <ref name="rangeFacets"/>
        <ref name="commonFacets"/>
      </interleave>
    </group>
    <!-- the detailed checking above is superfluous
        until there's a way to do 'difference'
        within attribute values, because it will
        always match the following -->
    <group>
      <choice>
        <attribute name="base">
          <data type="QName"/>
        </attribute>
        <ref name="localSimpleType"/>
      </choice>
      <ref name="simpleRestrictionFacets"/>
    </group>
  </choice>
</define>

<define name="list">
  <element name="xs:list"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-list">
    <ref name="annotated"/>
    <choice>
      <ref name="localSimpleType"/>
      <attribute name="itemType">
        <data type="QName"/>
      </attribute>
    </choice>
  </element>
</define>

<define name="union">
  <element name="xs:union"
        doc:href="http://www.w3.org/TR/xmlschema-1/#element-union">
    <ref name="annotated"/>
    <choice>
      <group>
        <attribute name="memberTypes">
          <list>
            <oneOrMore>
              <data type="QName"/>
            </oneOrMore>
          </list>
        </attribute>
        <zeroOrMore>
          <ref name="localSimpleType"/>
        </zeroOrMore>
      </group>
      <group>
        <optional>
          <attribute name="memberTypes">
            <empty/>
          </attribute>
        </optional>
        <oneOrMore>
          <ref name="localSimpleType"/>
        </oneOrMore>
      </group>
    </choice>
  </element>
</define>

<define name="facet">
  <ref name="annotated"/>
  <optional>
    <attribute name="fixed">
      <data type="boolean"/>
    </attribute>
  </optional>
</define>

<define name="noFixedFacet">
  <ref name="annotated"/>
  <attribute name="value"/>
</define>

<define name="rangeFacet">
  <ref name="facet"/>
  <attribute name="value">
    <choice>
      <data type="decimal"/>
      <data type="float"/>
      <data type="double"/>
      <data type="duration"/>
      <data type="dateTime"/>
      <data type="time"/>
      <data type="date"/>
      <data type="gYearMonth"/>
      <data type="gYear"/>
      <data type="gMonthDay"/>
      <data type="gMonth"/>
      <data type="gDay"/>
    </choice>
  </attribute>
</define>

<define name="minExclusive">
  <element name="xs:minExclusive"
        doc:href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/datatypes.html#element-minExclusive">
    <ref name="rangeFacet"/>
  </element>
</define>

<define name="minInclusive">
  <element name="xs:minInclusive"
        doc:href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/datatypes.html#element-minInclusive">
    <ref name="rangeFacet"/>
  </element>
</define>

<define name="maxExclusive">
  <element name="xs:maxExclusive"
        doc:href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/datatypes.html#element-maxExclusive">
    <ref name="rangeFacet"/>
  </element>
</define>

<define name="maxInclusive">
  <element name="xs:maxInclusive"
        doc:href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/datatypes.html#element-maxInclusive">
    <ref name="rangeFacet"/>
  </element>
</define>

<define name="numFacet">
  <ref name="facet"/>
  <attribute name="value">
    <data type="nonNegativeInteger"/>
  </attribute>
</define>

<define name="totalDigits">
  <element name="xs:totalDigits"
        doc:href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/datatypes.html#element-totalDigits">
    <ref name="facet"/>
    <attribute name="value">
      <data type="positiveInteger"/>
    </attribute>
  </element>
</define>

<define name="fractionDigits">
  <element name="xs:fractionDigits"
        doc:href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/datatypes.html#element-fractionDigits">
    <ref name="numFacet"/>
  </element>
</define>

<define name="length">
  <element name="xs:length"
        doc:href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/datatypes.html#element-length">
    <ref name="numFacet"/>
  </element>
</define>

<define name="minLength">
  <element name="xs:minLength"
        doc:href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/datatypes.html#element-minLength">
    <ref name="numFacet"/>
  </element>
</define>

<define name="maxLength">
  <element name="xs:maxLength"
        doc:href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/datatypes.html#element-maxLength">
    <ref name="numFacet"/>
  </element>
</define>

<define name="enumeration">
  <element name="xs:enumeration"
        doc:href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/datatypes.html#element-enumeration">
    <ref name="noFixedFacet"/>
  </element>
</define>

<define name="whiteSpace">
  <element name="xs:whiteSpace"
        doc:href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/datatypes.html#element-whiteSpace">
    <ref name="facet"/>
    <attribute name="value">
      <choice>
        <value type="token">preserve</value>
        <value type="token">replace</value>
        <value type="token">collapse</value>
      </choice>
    </attribute>
  </element>
</define>

<define name="whiteSpaceReplaceOrCollapse">
  <element name="xs:whiteSpace"
        doc:href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/datatypes.html#element-whiteSpace">
    <ref name="facet"/>
    <attribute name="value">
      <choice>
        <value type="token">replace</value>
        <value type="token">collapse</value>
      </choice>
    </attribute>
  </element>
</define>

<define name="whiteSpaceCollapse">
  <element name="xs:whiteSpace"
        doc:href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/datatypes.html#element-whiteSpace">
    <ref name="facet"/>
    <attribute name="value">
      <value type="token">collapse</value>
    </attribute>
  </element>
</define>

<define name="pattern">
  <element name="xs:pattern"
        doc:href="http://www.w3.org/TR/2001/REC-xmlschema-2-20010502/datatypes.html#element-pattern">
    <ref name="noFixedFacet"/>
  </element>
</define>

</grammar>
