pass11/t05-attribute.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="elt">
    <xs:complexType>
      <xs:attribute name="attr1" type="xs:string" use="required"/>
      <xs:attribute name="attr2" type="xs:string" inheritable="false"/>
      <xs:attribute name="attr2" type="xs:string" use="optional" inheritable="false"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
