test11/t01-override.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:override schemaLocation="v1.xsd">
  <xs:complexType name="personName">
   <xs:sequence>
    <xs:element name="givenName"/>
    <xs:element name="surname"/>
   </xs:sequence>
  </xs:complexType>
 </xs:override>
</xs:schema>
