test11/t05-element-tns.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="elt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="e1" type="xs:string" form="qualified"/>
        <xs:element name="e2" type="xs:string" targetNamespace="urn:other"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
