test1x/t08-element-ref-default.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="str" type="xs:string"/>
  <xs:complexType name="sc">
    <xs:sequence>
      <!-- It is permitted to provide a default for an element reference -->
      <xs:element ref="str" default="foo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ac">
    <xs:all>
      <!-- It is permitted to provide a default for an element reference -->
      <xs:element ref="str" default="foo"/>
    </xs:all>
  </xs:complexType>
</xs:schema>
